/* font-family: 'Inspiration', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */

.logo{
  font-family: 'Inspiration', cursive;
}
*{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.font-ligth{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}